<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
    Force.com IDE Copyright (c) 2008 Salesforce.com
-->

<plugin>
  <!--   M E N U S  -->
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="menu:com.salesforce.ide.ui.menu.context?before=group0">
      <command commandId="com.salesforce.ide.ui.command.mergeFields" helpContextId="com.salesforce.ide.documentation.mergeFields" id="mergeFields" label="%action.label" mnemonic="M" style="push" tooltip="%tooltip.MergeFields">
        <visibleWhen checkEnabled="false">
          <with variable="activeEditorId">
            <or>
              <equals value="com.salesforce.ide.ui.editors.apex"/>
              <equals value="com.salesforce.ide.ui.editors.html"/>
            </or>
          </with>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.MergeFields"
      helpContextId="com.salesforce.ide.documentation.mergeFields"
      id="com.salesforce.ide.ui.command.mergeFields"
      name="%action.label"
      />
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler class="com.salesforce.ide.ui.editors.handlers.MergeFieldsHandler" commandId="com.salesforce.ide.ui.command.mergeFields">
      <activeWhen>
        <with variable="activeEditorId">
          <or>
            <equals value="com.salesforce.ide.ui.editors.apex"/>
            <equals value="com.salesforce.ide.ui.editors.html"/>
          </or>
        </with>
      </activeWhen>
    </handler>
  </extension>

    <!--   E D I T O R S  -->
    <extension point="org.eclipse.ui.editors">
        <!-- visual force -->
        <editor
            id="com.salesforce.ide.ui.editors.html"
            class="com.salesforce.ide.ui.editors.visualforce.VisualForceMultiPageEditor"
            contributorClass="com.salesforce.ide.ui.editors.visualforce.VisualForceEditorContributor"
            default="true"
            extensions="scf, scf-meta.xml, page, page-meta.xml, component, component-meta.xml"
            icon="icons/appExDevIco16.png"
            name="%editor.name.Scontrol">
                <contentTypeBinding contentTypeId="com.salesforce.ide.core.contentType.scontrol" />
                <contentTypeBinding contentTypeId="com.salesforce.ide.core.contentType.page" />
                <contentTypeBinding contentTypeId="com.salesforce.ide.core.contentType.component" />
        </editor>

        <!-- apex class/trigger editor -->
        <editor
            id="com.salesforce.ide.ui.editors.apex"
            class="com.salesforce.ide.ui.editors.apex.ApexCodeMultiPageEditor"
            contributorClass="com.salesforce.ide.ui.editors.apex.ApexActionContributor"
            default="true"
            extensions="cls, cls-meta.xml, trigger, trigger-meta.xml"
            icon="icons/appExDevIco16.png"
            name="%editor.name.ApexCode">
                <contentTypeBinding contentTypeId="com.salesforce.ide.core.contentType.class" />
                <contentTypeBinding contentTypeId="com.salesforce.ide.core.contentType.trigger" />
        </editor>
        
    </extension>

    <extension point="org.eclipse.ui.editors.documentProviders">
        <provider
            id="org.eclipse.wst.html.ui.internal.ExternalFileDocumentProvider"
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            extensions="scf, page"
            inputTypes="org.eclipse.eclipse.ui.IFileEditorInput" />
    </extension>

    <extension id="apex.document.setup"
        name="%document.name.Apex"
        point="org.eclipse.core.filebuffers.documentSetup">
        <participant extensions="cls, trigger"
            class="com.salesforce.ide.ui.editors.apex.ApexDocumentSetupParticipant">
        </participant>
    </extension>
    <extension
          point="org.eclipse.ui.editors.documentProviders">
       <provider
             class="com.salesforce.ide.ui.editors.apex.ApexDocumentProvider"
             extensions="cls"
             id="com.salesforce.ide.ui.editors.ApexDocumentProvider"
             inputTypes="org.eclipse.ui.IFileEditorInput">
       </provider>
    </extension>

    <!--   P R E F E N C E S  -->
    <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.salesforce.ide.ui.editors.apex.preferences.PreferenceInitializer"/>
	</extension>
    <extension point="org.eclipse.ui.preferencePages">
       <page
             category="com.salesforce.ide.ui.preferences.GeneralPreferencePage"
             class="com.salesforce.ide.ui.editors.apex.preferences.ApexEditorPreferencePage"
             id="com.salesforce.ide.ui.editors.apex.preferences.ApexEditorPreferencePage"
             name="%page.name">
       </page>
	</extension>
    <extension
           point="org.eclipse.wst.sse.ui.sourcevalidation">
        <validator
              scope="total"
              class="com.salesforce.ide.ui.editors.page.PageValidator"
              id="com.salesforce.ide.ui.editors.page.validator">
           <contentTypeIdentifier
                 id="com.salesforce.ide.core.contentType.page">
              <partitionType
                    id="org.eclipse.wst.html.HTML_DEFAULT">
              </partitionType>
           </contentTypeIdentifier>
        </validator>
</extension>


	
</plugin>
