# From https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Maven
target/
