<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
    Force.com IDE Copyright (c) 2008 Salesforce.com
-->

<plugin>

    <!-- xml catalog addition for mapping metadata namespace to xsd -->
    <extension point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution>
            <uri id="com.salesforce.ide.ui.xmlcatalog.metadata"
                name="http://soap.sforce.com/2006/04/metadata"
                uri="schema/metadata.xsd"/>
        </catalogContribution>
    </extension>

</plugin>

