<?xml version="1.0" encoding="UTF-8"?> <?eclipse version="3.2"?> <plugin><extension point="org.eclipse.ui.newWizards"><category id="com.salesforce.ide.ui.wizards" name="@@BRAND@@"/><wizard id="com.salesforce.ide.ui.wizards.create@@OBJECT_NAME@@" category="com.salesforce.ide.ui.wizards" class="@@FULL_CLASS_NAME@@" icon="icons/appExDevIco16.png" name="@@DISPLAY_NAME@@" preferredPerspectives="com.salesforce.ide.perspective" project="false"/></extension></plugin>