<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Force.com IDE Eclipse 4.5.1. (Mars)" sequenceNumber="25">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.web_sdk.feature.feature.group" version="3.7.1.v201509022125"/>
<unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="3.7.1.v201508271605"/>
<repository location="http://download.eclipse.org/webtools/repository/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.3.0.201506081302"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.library" version="1.3.0.v201305281000"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.sdk.ide" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.17.0.v20150909-1822"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.1.v20150904-0015"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.7.1.v201509022125"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="tern-server-nodejs-feature.feature.group" version="1.2.0.201603211837"/>
<unit id="com.google.guava" version="19.0.0"/>
<unit id="org.jodd.proxetta" version="3.6.7"/>
<unit id="tern-jsdt-feature.feature.group" version="1.2.0.201603211837"/>
<unit id="org.jodd.db" version="3.6.7"/>
<unit id="org.h2" version="1.4.191"/>
<unit id="tern-linters-feature.feature.group" version="1.2.0.201603211837"/>
<unit id="org.jodd.log" version="3.6.7"/>
<unit id="minimal-json" version="0.9.4"/>
<unit id="tern.eclipse.ide.debugger.webclipse" version="1.2.0.201603211837"/>
<unit id="org.jodd.props" version="3.6.7"/>
<unit id="tern.eclipse.ide.server.nodejs.embed.feature.group" version="1.2.0.201603211837"/>
<unit id="org.jodd.bean" version="3.6.7"/>
<unit id="tern.eclipse.ide.tools.feature.feature.group" version="1.2.0.201603211837"/>
<unit id="tern-feature.feature.group" version="1.2.0.201603211837"/>
<unit id="javax.websocket-api" version="1.1.0"/>
<unit id="org.jodd.jtx" version="3.6.7"/>
<unit id="minimatch.java" version="1.1.0"/>
<unit id="tern.eclipse.ide.debugger.nodeclipse" version="1.2.0.201603211837"/>
<repository location="https://nexus.soma.salesforce.com/nexus/content/sites/eclipse-p2/mega-lightning/BETA/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
