<?eclipse version="3.2"?>

<!--
    Force.com IDE Copyright (c) 2008 Salesforce.com
-->

<plugin>

    <!-- forces plugin to activate during workbench startup - done so to ensure runtime
    created component actions and wizards are registered -->
    <extension point="org.eclipse.ui.startup">
        <startup class="com.salesforce.ide.ui.internal.startup.ForceStartup"/>
    </extension>
    <extension point="org.eclipse.ui.startup">
        <startup class="com.salesforce.ide.ui.handlers.ForceIdeUrlDropHandler"/>
    </extension>
    
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.salesforce.ide.ui.views.runtest.RunTestsLaunchConfigurationTabGroup"
            id="com.salesforce.ide.debug.ui.launch.RunTestsLaunchTabGroup"
            type="com.salesforce.ide.core.launch.RunTestsLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.salesforce.ide.core.launch.RunTestsLaunchConfiguration"
            icon="icons/appExDevIco16.png"
            id="com.salesforce.ide.ui.launch.ApexTestIcon">
      </launchConfigurationTypeImage>
   </extension>

    <!--   P E R S P E C T I V E   -->
    <extension point="org.eclipse.ui.perspectives">
        <perspective
            id="com.salesforce.ide.perspective"
            name="%brandName"
            class="com.salesforce.ide.ui.perspective.ForcePerspectiveFactory"
            icon="icons/appExDevIco16.png">
        </perspective>
    </extension>


    <!--   D E C O R A T O R S   -->
    <extension point="org.eclipse.ui.decorators">
        <decorator
            id="com.salesforce.ide.decorator.project"
            adaptable="true"
            icon="icons/appExDevIco8.gif"
            label="%decorator.label.0"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
            <enablement>
                <and>
                    <objectClass name="org.eclipse.core.resources.IProject" />
                    <objectState name="projectNature" value="com.salesforce.ide.nature.default" />
                    <not>
                        <objectState name="projectNature" value="com.salesforce.ide.nature.online" />
                    </not>
                </and>
            </enablement>
        </decorator>

        <decorator
            id="com.salesforce.ide.decorator.project.online"
            adaptable="true"
            icon="icons/appExDevIco8.png"
            label="%decorator.label.1"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
            <enablement>
                <and>
                    <objectClass name="org.eclipse.core.resources.IProject" />
                    <objectState name="projectNature" value="com.salesforce.ide.nature.online" />
                </and>
            </enablement>
        </decorator>

        <decorator
            id="com.salesforce.ide.decorator.referencedPackages"
            adaptable="true"
            icon="icons/library_obj.gif"
            label="%ReferencedPackages.defaultFolder"
            state="true">
            <enablement>
                <and>
                    <objectClass name="org.eclipse.core.resources.IFolder" />
                    <objectState name="name" value="%ReferencedPackages.defaultFolder" />
                    <objectState name="projectNature" value="com.salesforce.ide.nature.default" />
                </and>
            </enablement>
        </decorator>
    </extension>


    <!--   P R O P E R T I E S   -   P R O J E C T   &   C O M P O N E N T  -->
    <!--  project properties  -->
    <extension point="org.eclipse.ui.propertyPages"
        id="com.salesforce.ide.ui.properties.project"
        name="%properties.label.Force">
        <page
            id="com.salesforce.ide.ui.properties.project"
            class="com.salesforce.ide.ui.properties.ProjectPropertyPage"
            name="%brandName">
            <filter name="projectNature" value="com.salesforce.ide.nature.default" />
            <enabledWhen>
                <instanceof value="org.eclipse.core.resources.IProject" />
            </enabledWhen>
        </page>

        <page
            id="com.salesforce.ide.ui.properties.project.apex"
            category="com.salesforce.ide.ui.properties.project"
            class="com.salesforce.ide.ui.properties.ApexCodePropertyPage"
            name="%page.name.ApexCode">
            <filter name="projectNature" value="com.salesforce.ide.nature.default" />
            <enabledWhen>
                <instanceof value="org.eclipse.core.resources.IProject" />
            </enabledWhen>
        </page>
        <page
            id="com.salesforce.ide.ui.properties.project.deployment"
            category="com.salesforce.ide.ui.properties.project"
            class="com.salesforce.ide.ui.properties.DeploymentOptions"
            name="%page.name.DeploymentOptions">
            <filter name="projectNature" value="com.salesforce.ide.nature.default" />
            <enabledWhen>
                <instanceof value="org.eclipse.core.resources.IProject" />
            </enabledWhen>
        </page>
        <page
              category="com.salesforce.ide.ui.properties.project"
              class="com.salesforce.ide.ui.properties.ProjectContentPropertyPage"
              id="com.salesforce.ide.ui.properties.project.content"
              name="%page.name.ProjectContents">
           <filter
                 name="projectNature"
                 value="com.salesforce.ide.nature.default">
           </filter>
           <enabledWhen>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
           </enabledWhen>
        </page>
    </extension>

    <!--  component properties -->
    <extension point="org.eclipse.ui.propertyPages"
        id="com.salesforce.ide.ui.properties.component"
        name="%properties.label.ForceComponent">
        <page
            id="com.salesforce.ide.ui.properties.component"
            class="com.salesforce.ide.ui.properties.ComponentPropertyPage"
            name="%page.name.Component">
            <filter name="projectNature" value="com.salesforce.ide.nature.default" />
            <enabledWhen>
                <instanceof value="org.eclipse.core.resources.IFile" />
            </enabledWhen>
        </page>
    </extension>


    <!--   W I Z A R D S   -->
    <extension point="org.eclipse.ui.newWizards">
        <category
            id="com.salesforce.ide.ui.wizards"
            name="%brandName"/>
        <wizard
            id="com.salesforce.ide.ui.wizards.createProject"
            category="com.salesforce.ide.ui.wizards"
            class="com.salesforce.ide.ui.wizards.project.ProjectCreateWizard"
            icon="icons/appExDevIco16.png"
            name="%wizard.label.ForceProject"
            finalPerspective="com.salesforce.ide.perspective"
            project="true">
        </wizard>
    </extension>

    <!--   M E N U S  -->
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any">
      <menu
            icon="icons/appExDevIco16.png"
            id="com.salesforce.ide.ui.menu.context"
            label="Force.com"
            mnemonic=".">
        <separator name="group0" visible="true"/>
        <command commandId="com.salesforce.ide.ui.command.addNature" helpContextId="com.salesforce.ide.documentation.addNatureAction" id="addNature" label="Add Force.com Nature" mnemonic="A" style="push" tooltip="%tooltip.0">
          <visibleWhen checkEnabled="false">
            <and>
              <count value="1"/>
              <iterate ifEmpty="false" operator="and">
                <not>
                  <reference definitionId="com.salesforce.ide.projectFile"/>
                </not>
                <adapt type="org.eclipse.core.resources.IProject">
                  <instanceof value="org.eclipse.core.resources.IProject"/>
                </adapt>
              </iterate>
            </and>
          </visibleWhen>
        </command>
        <command commandId="com.salesforce.ide.ui.command.removeNature" helpContextId="com.salesforce.ide.documentation.removeNatureAction" id="removeNature" label="Remove Force.com Nature" mnemonic="v" style="push" tooltip="%tooltip.2">
          <visibleWhen checkEnabled="false">
            <and>
              <count value="1"/>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <adapt type="org.eclipse.core.resources.IResource">
                  <instanceof value="org.eclipse.core.resources.IProject"/>
                </adapt>
              </iterate>
            </and>
          </visibleWhen>
        </command>
        <command commandId="com.salesforce.ide.ui.command.addOnlineNature" helpContextId="com.salesforce.ide.documentation.addOnlineNatureAction" id="workOnline" label="Work Online" mnemonic="k" style="push" tooltip="%tooltip.3">
          <visibleWhen checkEnabled="false">
            <and>
              <count value="1"/>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <reference definitionId="com.salesforce.ide.projectOffline"/>
                <adapt type="org.eclipse.core.resources.IProject">
                  <instanceof value="org.eclipse.core.resources.IProject"/>
                </adapt>
              </iterate>
            </and>
          </visibleWhen>
        </command>
        <command commandId="com.salesforce.ide.ui.command.removeOnlineNature" helpContextId="com.salesforce.ide.documentation.removeOnlineNatureAction" id="workOffline" label="Work Offline" mnemonic="f" style="push" tooltip="%tooltip.1">
          <visibleWhen checkEnabled="false">
            <and>
              <count value="1"/>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <reference definitionId="com.salesforce.ide.projectOnline"/>
                <adapt type="org.eclipse.core.resources.IProject">
                  <instanceof value="org.eclipse.core.resources.IProject"/>
                </adapt>
              </iterate>
            </and>
          </visibleWhen>
        </command>
        <separator name="group1" visible="true"/>
        <command commandId="com.salesforce.ide.ui.command.executeAnonymous" helpContextId="com.salesforce.ide.documentation.executeAnonymousAction" id="executeAnonymous" label="Execute Anonymous..." mnemonic="E" style="push" tooltip="%tooltip.15">
          <visibleWhen checkEnabled="false">
            <and>
              <count value="1"/>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <reference definitionId="com.salesforce.ide.projectOnline"/>
                <adapt type="org.eclipse.core.resources.IProject">
                  <instanceof value="org.eclipse.core.resources.IProject"/>
                </adapt>
              </iterate>
            </and>
          </visibleWhen>
        </command>
        <separator name="tools" visible="true"/>
        <command commandId="com.salesforce.ide.ui.command.refreshResource" helpContextId="com.salesforce.ide.documentation.refreshResource" id="refreshResource" label="Refresh from Server" mnemonic="R" style="push" tooltip="%tooltip.5">
          <visibleWhen checkEnabled="false">
            <or>
              <with variable="activeEditorInput">
                <reference definitionId="com.salesforce.ide.projectRefreshable"/>
              </with>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <reference definitionId="com.salesforce.ide.projectRefreshable"/>
              </iterate>
            </or>
          </visibleWhen>
        </command>
        <command commandId="com.salesforce.ide.ui.command.saveToServer" helpContextId="com.salesforce.ide.documentation.saveToServerAction" id="saveToServer" label="Save to Server" mnemonic="S" style="push" tooltip="%tooltip.4">
          <visibleWhen checkEnabled="false">
            <or>
              <with variable="activeEditorInput">
                <reference definitionId="com.salesforce.ide.projectSourceResource"/>
              </with>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <reference definitionId="com.salesforce.ide.projectSourceResource"/>
              </iterate>
            </or>
          </visibleWhen>
        </command>
        <command commandId="com.salesforce.ide.ui.command.synchronize" helpContextId="com.salesforce.ide.documentation.syncAction" id="synchronize" label="Synchronize with Server" mnemonic="y" style="push" tooltip="%tooltip.6">
          <visibleWhen checkEnabled="false">
            <or>
              <with variable="activeEditorInput">
                <reference definitionId="com.salesforce.ide.projectSourceResource"/>
              </with>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <reference definitionId="com.salesforce.ide.projectSourceResource"/>
              </iterate>
            </or>
          </visibleWhen>
        </command>
        <separator name="group2" visible="true"/>
        <separator name="group3" visible="true"/>
        <separator name="group4" visible="true"/>
        <separator name="group5" visible="true"/>
        <command commandId="com.salesforce.ide.ui.command.showInBrowser" helpContextId="com.salesforce.ide.documentation.showInBrowser" id="showInBrowser" label="Show in Salesforce Web" mnemonic="w" style="push" tooltip="%tooltip.12">
          <visibleWhen checkEnabled="false">
            <and>
              <count value="1"/>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <adapt type="org.eclipse.core.resources.IResource">
                  <not>
                    <or>
                      <test property="org.eclipse.core.resources.name" value="%SchemaBrowser.fullName"/>
                      <test property="org.eclipse.core.resources.name" value="%PackageManifest.fileName"/>
                      <test property="org.eclipse.core.resources.name" value="%Layout.defaultFolder"/>
                      <test property="org.eclipse.core.resources.extension" value="%Layout.fileExtension"/>
                      <test property="org.eclipse.core.resources.extension" value="%CustomObjectTranslation.fileExtension"/>
                      <test property="org.eclipse.core.resources.extension" value="%Translations.fileExtension"/>
                    </or>
                  </not>
                </adapt>
              </iterate>
            </and>
          </visibleWhen>
        </command>
        <command commandId="com.salesforce.ide.ui.command.openProjectProperties" helpContextId="com.salesforce.ide.documentation.openProjectPropertiesAction" id="openProjectProperties" label="Project Properties" mnemonic="P" style="push" tooltip="%tooltip.16">
          <visibleWhen checkEnabled="false">
            <and>
              <count value="1"/>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <adapt type="org.eclipse.core.resources.IProject">
                  <instanceof value="org.eclipse.core.resources.IProject"/>
                </adapt>
              </iterate>
            </and>
          </visibleWhen>
        </command>
        <command commandId="com.salesforce.ide.ui.command.openProjectContentProperties" helpContextId="com.salesforce.ide.documentation.openProjectContentPropertiesAction" id="openProjectContentProperties" label="Add/Remove Metadata Components..." mnemonic="A" style="push" tooltip="%tooltip.17">
          <visibleWhen checkEnabled="false">
            <and>
              <count value="1"/>
              <iterate ifEmpty="false" operator="and">
                <reference definitionId="com.salesforce.ide.projectFile"/>
                <adapt type="org.eclipse.core.resources.IResource">
                  <test forcePluginActivation="true" property="com.salesforce.ide.core.expressions.isPrjOrNonRefPkgFolders"/>
                </adapt>
              </iterate>
            </and>
          </visibleWhen>
        </command>
        <separator name="group6" visible="true"/>
      </menu>
    </menuContribution>
    <menuContribution locationURI="menu:help?before=additions">
      <command commandId="org.eclipse.ui.views.showView" id="openLogView" label="%action.label.OpenLogView">
        <parameter name="org.eclipse.ui.views.showView.viewId" value="com.salesforce.ide.ui.view.log"/>
      </command>
    </menuContribution>
    <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      <toolbar id="com.salesforce.ide.ui.toolbar.main">
        <!--
         | These cause the JVM to crash on Linux if the user specifies the internal browser.
        <command commandId="org.eclipse.ui.browser.openBrowser" id="openBrowserToSalesforce" tooltip="%action.label.OpenSalesforce" icon="icons/icon_scube.gif">
          <parameter name="url" value="http://www.salesforce.com/"/>
          <parameter name="browserId" value="Salesforce"/>
          <parameter name="name" value="Salesforce.com"/>
        </command>
        <command commandId="org.eclipse.ui.browser.openBrowser" id="openBrowserDeveloper" tooltip="%action.label.OpenSalesforceDev" icon="icons/appExDevIco16.png">
          <parameter name="url" value="http://www.salesforce.com/developer/"/>
          <parameter name="browserId" value="Developer Force"/>
          <parameter name="name" value="Developer Force"/>
        </command>
        -->
        <command commandId="com.salesforce.ide.ui.commands.openBrowserToSalesforceCommand" id="openBrowserToSalesforce" tooltip="%action.label.OpenSalesforce" icon="icons/icon_scube.gif">
          <parameter name="url" value="http://www.salesforce.com/"/>
        </command>
        <command commandId="com.salesforce.ide.ui.commands.openBrowserDeveloperCommand" id="openBrowserDeveloper" tooltip="%action.label.OpenSalesforceDev" icon="icons/appExDevIco16.png">
          <parameter name="url" value="http://www.salesforce.com/developer/"/>
        </command>
      </toolbar>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:help?after=helpContents">
       <command
             commandId="com.salesforce.ide.ui.command.openSalesforceDocumentation"
             icon="icons/appExDevIco16.png"
             label="Salesforce Documentation"
             style="push">
       </command>
    </menuContribution>
  </extension>

    <!--   V I E W S   -->
    <extension point="org.eclipse.ui.views">
        <category
            id="com.salesforce.ide.ui.view"
            name="%brandName" />
        <view
            id="com.salesforce.ide.ui.view.debugLog"
            category="com.salesforce.ide.ui.view"
            icon="icons/appExDevIco16.png"
            class="com.salesforce.ide.ui.views.executeanonymous.ExecuteAnonymousView"
            allowMultiple="false"
            name="%view.name.ExecuteAnonymous" />
        <view
            id="com.salesforce.ide.ui.view.runTest"
            category="com.salesforce.ide.ui.view"
            icon="icons/appExDevIco16.png"
            class="com.salesforce.ide.ui.views.runtest.RunTestsView"
            allowMultiple="false"
            name="%view.name.RunTest" />
        <view
            id="com.salesforce.ide.ui.view.log"
            category="com.salesforce.ide.ui.view"
            icon="icons/appExDevIco16.png"
            class="com.salesforce.ide.ui.views.log.LogView"
            allowMultiple="false"
            name="%view.name.LogView" />
    </extension>


    <!--   S Y N C H R O N I Z E   -->
    <extension point="org.eclipse.team.ui.synchronizeParticipants">
        <participant
            id="com.salesforce.ide.ui.sync.componentSyncParticipant"
            persistent="false"
            icon="icons/appExDevIco16.png"
            class="com.salesforce.ide.ui.sync.ComponentSyncParticipant"
            name="%participant.name.0"/>
    </extension>

    <!--   R E F A C T O R I N G   -->
    <extension point="org.eclipse.ltk.core.refactoring.deleteParticipants">
        <deleteParticipant
            id="com.salesforce.ide.ui.refactoring.deleteParticipant"
            class="com.salesforce.ide.ui.refactoring.ResourceDeleteParticipant"
            name="%delete.resource.participant">
            <enablement>
                <test forcePluginActivation="true" property="com.salesforce.ide.core.expressions.isSourceResource"/>
                <or>
                    <instanceof value="org.eclipse.core.resources.IFile"/>
                    <instanceof value="org.eclipse.core.resources.IFolder"/>
                </or>
                <with variable="affectedNatures">
                    <iterate operator="or">
                        <equals value="com.salesforce.ide.nature.online"/>
                    </iterate>
                </with>
            </enablement>
        </deleteParticipant>
    </extension>

    <!--  C O N T E X T   M E N U  -->
	<extension point="org.eclipse.ui.activities">
		<activity
			description="Used to filter the context menu"
			id="com.salesforce.ide.activities.activity.contextualLaunch"
			name="Contextual Launch">
		</activity>
		<defaultEnablement id="com.salesforce.ide.activities.activity.contextualLaunch"/>
		<activityPatternBinding
			activityId="com.salesforce.ide.activities.activity.contextualLaunch"
			pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.contextualLaunch\..*">
		</activityPatternBinding>
	</extension>

	<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.salesforce.ide.ui.preferences.PreferenceInitializer"/>
	</extension>

   	<!-- P R E F E R E N C E S  -->
   	<extension point="org.eclipse.ui.preferencePages">
	    <page
            class="com.salesforce.ide.ui.preferences.GeneralPreferencePage"
            id="com.salesforce.ide.ui.preferences.GeneralPreferencePage"
            name="%preferences.page.General"/>
	</extension>
	
    <extension point="org.eclipse.ui.startup">
       <startup class="com.salesforce.ide.ui.preferences.ForceDefaultEncodingPreference"/>
    </extension>

  <extension point="org.eclipse.ui.commands">
    <category id="com.salesforce.ide.ui.commands.category" name="Force.com"/>
    <command categoryId="com.salesforce.ide.ui.commands.category" id="com.salesforce.ide.ui.commands.openBrowserToSalesforceCommand" name="%action.label.OpenSalesforce">
      <commandParameter id="url" name="URL" optional="false"/>
    </command>
    <command categoryId="com.salesforce.ide.ui.commands.category" id="com.salesforce.ide.ui.commands.openBrowserDeveloperCommand" name="%action.label.OpenSalesforceDev">
      <commandParameter id="url" name="URL" optional="false"/>
    </command>
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.0"
      helpContextId="com.salesforce.ide.documentation.addNatureAction"
      id="com.salesforce.ide.ui.command.addNature"
      name="Add Force.com Nature"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.2"
      helpContextId="com.salesforce.ide.documentation.removeNatureAction"
      id="com.salesforce.ide.ui.command.removeNature"
      name="Remove Force.com Nature"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.3"
      helpContextId="com.salesforce.ide.documentation.addOnlineNatureAction"
      id="com.salesforce.ide.ui.command.addOnlineNature"
      name="Work Online"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.1"
      helpContextId="com.salesforce.ide.documentation.removeOnlineNatureAction"
      id="com.salesforce.ide.ui.command.removeOnlineNature"
      name="Work Online"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.15"
      helpContextId="com.salesforce.ide.documentation.executeAnonymousAction"
      id="com.salesforce.ide.ui.command.executeAnonymous"
      name="Execute Anonymous"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.5"
      helpContextId="com.salesforce.ide.documentation.refreshResource"
      id="com.salesforce.ide.ui.command.refreshResource"
      name="Refresh from Server"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.4"
      helpContextId="com.salesforce.ide.documentation.saveToServerAction"
      id="com.salesforce.ide.ui.command.saveToServer"
      name="Save to Server"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.6"
      helpContextId="com.salesforce.ide.documentation.syncAction"
      id="com.salesforce.ide.ui.command.synchronize"
      name="Synchronize with Server"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.16"
      helpContextId="com.salesforce.ide.documentation.openProjectPropertiesAction"
      id="com.salesforce.ide.ui.command.openProjectProperties"
      name="Project Properties"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.17"
      helpContextId="com.salesforce.ide.documentation.openProjectContentPropertiesAction"
      id="com.salesforce.ide.ui.command.openProjectContentProperties"
      name="Add/Remove Metadata Components"
      />
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.12"
      helpContextId="com.salesforce.ide.documentation.showInBrowser"
      id="com.salesforce.ide.ui.command.showInBrowser"
      name="Show in Salesforce Web"
      />
    <command
          defaultHandler="com.salesforce.ide.ui.handlers.SalesforceDocumentationHandler"
          id="com.salesforce.ide.ui.command.openSalesforceDocumentation"
          name="Salesforce Documentation">
    </command>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler class="com.salesforce.ide.ui.handlers.OpenBrowserToExternalSiteHandler" commandId="com.salesforce.ide.ui.commands.openBrowserToSalesforceCommand"/>
    <handler class="com.salesforce.ide.ui.handlers.OpenBrowserToExternalSiteHandler" commandId="com.salesforce.ide.ui.commands.openBrowserDeveloperCommand"/>
    <handler class="com.salesforce.ide.ui.handlers.AddNatureHandler" commandId="com.salesforce.ide.ui.command.addNature">
      <enabledWhen>
        <and>
          <count value="1"/>
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <instanceof value="org.eclipse.core.resources.IProject"/>
            </adapt>
            <reference definitionId="com.salesforce.ide.projectActive"/>
          </iterate>
        </and>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.RemoveNatureHandler" commandId="com.salesforce.ide.ui.command.removeNature">
      <enabledWhen>
        <and>
          <count value="1"/>
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <instanceof value="org.eclipse.core.resources.IProject"/>
            </adapt>
            <reference definitionId="com.salesforce.ide.projectActive"/>
          </iterate>
        </and>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.AddOnlineNatureHandler" commandId="com.salesforce.ide.ui.command.addOnlineNature">
      <enabledWhen>
        <and>
          <count value="1"/>
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <instanceof value="org.eclipse.core.resources.IProject"/>
            </adapt>
            <reference definitionId="com.salesforce.ide.projectActive"/>
          </iterate>
        </and>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.RemoveOnlineNatureHandler" commandId="com.salesforce.ide.ui.command.removeOnlineNature">
      <enabledWhen>
        <and>
          <count value="1"/>
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <instanceof value="org.eclipse.core.resources.IProject"/>
            </adapt>
            <reference definitionId="com.salesforce.ide.projectActive"/>
          </iterate>
        </and>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.ExecuteAnonymousHandler" commandId="com.salesforce.ide.ui.command.executeAnonymous">
      <enabledWhen>
        <and>
          <count value="1"/>
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <instanceof value="org.eclipse.core.resources.IProject"/>
            </adapt>
            <reference definitionId="com.salesforce.ide.projectActive"/>
          </iterate>
        </and>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.RefreshResourceHandler" commandId="com.salesforce.ide.ui.command.refreshResource">
      <enabledWhen>
        <or>
          <with variable="activeEditorInput">
            <reference definitionId="com.salesforce.ide.projectRefreshable"/>
          </with>
          <iterate ifEmpty="false" operator="and">
            <reference definitionId="com.salesforce.ide.projectActive"/>
            <reference definitionId="com.salesforce.ide.projectRefreshable"/>
          </iterate>
        </or>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.SaveToServerHandler" commandId="com.salesforce.ide.ui.command.saveToServer">
      <enabledWhen>
        <or>
          <with variable="activeEditorInput">
            <reference definitionId="com.salesforce.ide.projectSourceResource"/>
          </with>
          <iterate ifEmpty="false" operator="and">
            <reference definitionId="com.salesforce.ide.projectActive"/>
            <reference definitionId="com.salesforce.ide.projectSourceResource"/>
          </iterate>
        </or>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.SynchronizeHandler" commandId="com.salesforce.ide.ui.command.synchronize">
      <enabledWhen>
        <or>
          <with variable="activeEditorInput">
            <reference definitionId="com.salesforce.ide.projectSourceResource"/>
          </with>
          <iterate ifEmpty="false" operator="and">
            <reference definitionId="com.salesforce.ide.projectSourceResource"/>
            <reference definitionId="com.salesforce.ide.projectActive"/>
          </iterate>
        </or>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.OpenProjectPropertiesHandler" commandId="com.salesforce.ide.ui.command.openProjectProperties">
      <enabledWhen>
        <and>
          <count value="1"/>
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <instanceof value="org.eclipse.core.resources.IProject"/>
            </adapt>
            <reference definitionId="com.salesforce.ide.projectFile"/>
          </iterate>
        </and>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.OpenProjectContentPropertiesHandler" commandId="com.salesforce.ide.ui.command.openProjectContentProperties">
      <enabledWhen>
        <and>
          <count value="1"/>
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <instanceof value="org.eclipse.core.resources.IProject"/>
            </adapt>
            <reference definitionId="com.salesforce.ide.projectFile"/>
            <reference definitionId="com.salesforce.ide.projectActive"/>
          </iterate>
        </and>
      </enabledWhen>
    </handler>
    <handler class="com.salesforce.ide.ui.handlers.ShowInBrowserHandler" commandId="com.salesforce.ide.ui.command.showInBrowser">
      <enabledWhen>
        <and>
          <count value="1"/>
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IResource">
              <instanceof value="org.eclipse.core.resources.IResource"/>
            </adapt>
            <reference definitionId="com.salesforce.ide.projectFile"/>
          </iterate>
        </and>
      </enabledWhen>
    </handler>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.salesforce.ide.perspective">
         <actionSet id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

</plugin>

