<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
    Force.com IDE Copyright (c) 2008 Salesforce.com
-->

<plugin>
   <extension-point id="syncServices" name="Force.com IDE Sync Services" schema="schema/syncServices.exsd"/>
	
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.salesforce.ide.ui.views.runtest.RunTestsLaunchConfigurationDelegate"
            delegateDescription="The Apex Test Launcher supports running Apex Tests on Salesforce.com instances."
            delegateName="Apex Test Launcher"
            id="com.salesforce.ide.core.launch.RunTestsLaunchConfiguration"
            modes="run"
            name="Apex Test">
      </launchConfigurationType>
   </extension>

    <!--   N A T U R E S   &   B U I L D E R S   -->
    <!-- default -->
    <extension point="org.eclipse.core.resources.natures"
        id="com.salesforce.ide.nature.default"
        name="%nature.label.0">
        <runtime>
            <run class="com.salesforce.ide.core.project.DefaultNature" />
        </runtime>
        <builder id="com.salesforce.ide.builder.default"/>
        <options allowLinking="true" />
    </extension>

    <extension point="org.eclipse.core.resources.builders"
        id="com.salesforce.ide.builder.default"
        name="%builder.label.0">
        <builder
            hasNature="true"
            isConfigurable="false">
         <run class="com.salesforce.ide.core.project.DefaultBuilder">
            <parameter name="beanId" value="builderController"/>
         </run>
      </builder>
    </extension>

  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="com.salesforce.ide.projectFile">
      <adapt type="org.eclipse.core.resources.IResource">
        <test
          property="org.eclipse.core.resources.projectNature"
          value="com.salesforce.ide.nature.default"/>
      </adapt>
    </definition>
  </extension>

    <!-- online -->
    <extension point="org.eclipse.core.resources.natures"
        id="com.salesforce.ide.nature.online"
        name="%nature.label.1">
        <runtime>
            <run class="com.salesforce.ide.core.project.OnlineNature" />
        </runtime>
        <builder id="com.salesforce.ide.builder.online"/>
        <options allowLinking="true" />
    </extension>

    <extension point="org.eclipse.core.resources.builders"
        id="com.salesforce.ide.builder.online"
        name="%builder.label.1">
        <builder
            hasNature="true"
            isConfigurable="true">
         <run class="com.salesforce.ide.core.project.OnlineBuilder">
            <parameter name="beanId" value="builderController"/>
         </run>
      </builder>
    </extension>

  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="com.salesforce.ide.projectOnline">
      <adapt type="org.eclipse.core.resources.IResource">
        <test
          property="org.eclipse.core.resources.projectNature"
          value="com.salesforce.ide.nature.online"/>
      </adapt>
    </definition>
    <definition id="com.salesforce.ide.projectOffline">
      <not>
        <reference definitionId="com.salesforce.ide.projectOnline"/>
      </not>
    </definition>
  </extension>

    <!-- inactive -->
    <extension point="org.eclipse.core.resources.natures"
        id="com.salesforce.ide.nature.inactive"
        name="%nature.label.2">
        <runtime>
            <run class="com.salesforce.ide.core.project.InactiveNature" />
        </runtime>
        <options allowLinking="true" />
    </extension>

  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="com.salesforce.ide.projectInactive">
      <adapt type="org.eclipse.core.resources.IResource">
        <test
          property="org.eclipse.core.resources.projectNature"
          value="com.salesforce.ide.nature.inactive"/>
      </adapt>
    </definition>
    <definition id="com.salesforce.ide.projectActive">
      <not>
        <reference definitionId="com.salesforce.ide.projectInactive"/>
      </not>
    </definition>
    <definition id="com.salesforce.ide.projectRefreshable">
      <adapt type="org.eclipse.core.resources.IResource">
        <test forcePluginActivation="true" property="com.salesforce.ide.core.expressions.isRefreshableResource"/>
      </adapt>
    </definition>
    <definition id="com.salesforce.ide.projectSourceResource">
      <adapt type="org.eclipse.core.resources.IResource">
        <test forcePluginActivation="true" property="com.salesforce.ide.core.expressions.isSourceResource"/>
      </adapt>
    </definition>
    <definition id="com.salesforce.ide.projectDeployableResource">
       <adapt type="org.eclipse.core.resources.IResource">
         <test forcePluginActivation="true" property="com.salesforce.ide.core.expressions.isDeployableResource"/>
       </adapt>
    </definition>
  </extension>

    <!--   C O N T E N T   T Y P E S   -->
    <extension point="org.eclipse.core.contenttype.contentTypes">

       <content-type
            id="com.salesforce.ide.core.contentType.settings"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Settings.fileExtension"
            name="%Settings.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%MobileSettings.componentType"/>
                <parameter name="element" value="{%xmlns}%Settings.componentType"/>
                <!--
                 | The following is a (possibly incomplete) list of root elements
                 | that I have seen in files with a ".settings" extension.
                 +-->
                <parameter name="element" value="{%xmlns}AccountSettings"/>
                <parameter name="element" value="{%xmlns}ActivitiesSettings"/>
                <parameter name="element" value="{%xmlns}AddressSettings"/>
                <parameter name="element" value="{%xmlns}BusinessHoursSettings"/>
                <parameter name="element" value="{%xmlns}CaseSettings"/>
                <parameter name="element" value="{%xmlns}ChatterAnswersSettings"/>
                <parameter name="element" value="{%xmlns}CompanySettings"/>
                <parameter name="element" value="{%xmlns}ContractSettings"/>
                <parameter name="element" value="{%xmlns}IdeasSettings"/>
                <parameter name="element" value="{%xmlns}OpportunitySettings"/>
                <parameter name="element" value="{%xmlns}OrderSettings"/>
                <parameter name="element" value="{%xmlns}ProductSettings"/>
                <parameter name="element" value="{%xmlns}QuoteSettings"/>
                <parameter name="element" value="{%xmlns}SecuritySettings"/>
            </describer>
        </content-type>

       <content-type
            id="com.salesforce.ide.core.contentType.sharingRules"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%SharingRules.fileExtension"
            name="SharingRules"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%AccountSharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%AccountTerritorySharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%CampaignSharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%CaseSharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%ContactSharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%CustomObjectSharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%LeadSharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%OpportunitySharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%UserSharingRules.componentType"/>
                <parameter name="element" value="{%xmlns}%AccountOwnerSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%AccountCriteriaBasedSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%AccountTerritorySharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%CampaignOwnerSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%CampaignCriteriaBasedSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%CaseOwnerSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%CaseCriteriaBasedSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%ContactOwnerSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%ContactCriteriaBasedSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%CustomObjectOwnerSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%CustomObjectCriteriaBasedSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%LeadOwnerSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%LeadCriteriaBasedSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%OpportunityOwnerSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%OpportunityCriteriaBasedSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%UserMembershipSharingRule.componentType"/>
                <parameter name="element" value="{%xmlns}%UserCriteriaBasedSharingRule.componentType"/>
            </describer>
        </content-type>

       <content-type
            id="com.salesforce.ide.core.contentType.analyticSnapshot"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%AnalyticSnapshot.fileExtension"
            name="%AnalyticSnapshot.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%AnalyticSnapshot.componentType"/>
            </describer>
        </content-type>
            
        <content-type
            id="com.salesforce.ide.core.contentType.remoteSiteSetting"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%RemoteSiteSetting.fileExtension"
            name="%RemoteSiteSetting.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%RemoteSiteSetting.componentType"/>
            </describer>            
        </content-type>
        
        <content-type
              base-type="com.salesforce.ide.core.contentType.apex"
              default-charset="UTF-8"
              file-extensions="%ApexClass.fileExtension"
              id="com.salesforce.ide.core.contentType.class"
              name="%ApexClass.displayName"
              priority="normal"/>

        <content-type
            id="com.salesforce.ide.core.contentType.page"
            base-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="%ApexPage.fileExtension"
            name="%ApexPage.displayName"
            priority="normal"
            default-charset="UTF-8"/>

        <content-type
            id="com.salesforce.ide.core.contentType.component"
            base-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="%ApexComponent.fileExtension"
            name="%ApexComponent.displayName"
            priority="normal"
            default-charset="UTF-8"/>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              default-charset="UTF-8"
              id="com.salesforce.ide.core.contentType.apex"
              name="Apex Code"
              priority="normal">
        </content-type>


        <content-type
              base-type="com.salesforce.ide.core.contentType.apex"
              default-charset="UTF-8"
              file-extensions="%ApexTrigger.fileExtension"
              id="com.salesforce.ide.core.contentType.trigger"
              name="%ApexTrigger.displayName"
              priority="normal"/>

        <content-type
            id="com.salesforce.ide.core.contentType.application"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%CustomApplication.fileExtension"
            name="%CustomApplication.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%CustomApplication.componentType"/>
            </describer>
        </content-type>

		<content-type
            id="com.salesforce.ide.core.contentType.customDataType"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%CustomDataType.fileExtension"
            name="%CustomDataType.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%CustomDataType.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.customLabels"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%CustomLabels.fileExtension"
            name="%CustomLabels.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%CustomLabels.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.customObject"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%CustomObject.fileExtension"
            name="%CustomObject.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%CustomObject.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.customObjectTranslation"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%CustomObjectTranslation.fileExtension"
            name="%CustomObjectTranslation.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%CustomObjectTranslation.componentType"/>
            </describer>
        </content-type>

		<content-type
            id="com.salesforce.ide.core.contentType.customPageWebLink"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%CustomPageWebLink.fileExtension"
            name="%CustomPageWebLink.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%CustomPageWebLink.componentType"/>
            </describer>
        </content-type>

		<content-type
            id="com.salesforce.ide.core.contentType.site"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%CustomSite.fileExtension"
            name="%CustomSite.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%CustomSite.componentType"/>
            </describer>
        </content-type>
        
		<content-type
            id="com.salesforce.ide.core.contentType.dashboard"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Dashboard.fileExtension"
            name="%Dashboard.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Dashboard.componentType"/>
            </describer>
        </content-type>

		<content-type
            id="com.salesforce.ide.core.contentType.dataCategoryGroup"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%DataCategoryGroup.fileExtension"
            name="%DataCategoryGroup.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%DataCategoryGroup.componentType"/>
            </describer>
        </content-type>
        
        <content-type
            id="com.salesforce.ide.core.contentType.entitlementTemplate"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%EntitlementTemplate.fileExtension"
            name="%EntitlementTemplate.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter name="element" value="{%xmlns}%EntitlementTemplate.componentType"/>
            </describer>
        </content-type>
        
        <content-type
            id="com.salesforce.ide.core.contentType.email"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="%EmailTemplate.fileExtension"
            name="%EmailTemplate.displayName"
            priority="normal"
            default-charset="UTF-8"/>

        <content-type
            id="com.salesforce.ide.core.contentType.layout"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Layout.fileExtension"
            name="%Layout.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Layout.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.letterHead"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Letterhead.fileExtension"
            name="%Letterhead.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Letterhead.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.homePageComponent"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%HomePageComponent.fileExtension"
            name="%HomePageComponent.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%HomePageComponent.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.homePageLayout"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%HomePageLayout.fileExtension"
            name="%HomePageLayout.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%HomePageLayout.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.tab"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%CustomTab.fileExtension"
            name="%CustomTab.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%CustomTab.componentType"/>
            </describer>
        </content-type>

		<content-type
            id="com.salesforce.ide.core.contentType.package"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Package.fileExtension"
            name="%Package.displayName"
            priority="normal"
            default-charset="UTF-8">
        </content-type>

		<content-type
            id="com.salesforce.ide.core.contentType.portal"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Portal.fileExtension"
            name="%Portal.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Portal.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.profile"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Profile.fileExtension"
            name="%Profile.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Profile.componentType"/>
            </describer>
        </content-type>

		<content-type
            id="com.salesforce.ide.core.contentType.permissionSet"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%PermissionSet.fileExtension"
            name="%PermissionSet.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%PermissionSet.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.report"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Report.fileExtension"
            name="%Report.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Report.componentType"/>
            </describer>
        </content-type>

		<content-type
            id="com.salesforce.ide.core.contentType.reportType"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%ReportType.fileExtension"
            name="%ReportType.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%ReportType.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.scontrol"
            base-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="%Scontrol.fileExtension"
            name="%Scontrol.displayName"
            priority="normal"
            default-charset="UTF-8">
            <property name="DeveloperName" />
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.translations"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Translations.fileExtension"
            name="%Translations.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Translations.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.workflow"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Workflow.fileExtension"
            name="%Workflow.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Workflow.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.appmenu"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%AppMenu.fileExtension"
            name="%AppMenu.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%AppMenu.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.sharingset"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%SharingSet.fileExtension"
            name="%SharingSet.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%SharingSet.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.assignmentRules"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%AssignmentRules.fileExtension"
            name="%AssignmentRules.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%AssignmentRules.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.community"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Community.fileExtension"
            name="%Community.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Community.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.flow"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Flow.fileExtension"
            name="%Flow.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Flow.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.queue"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="queue"
            name="Queue"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}Queue"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.quickAction"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%QuickAction.fileExtension"
            name="%QuickAction.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%QuickAction.componentType"/>
            </describer>
        </content-type>

        <content-type
            id="com.salesforce.ide.core.contentType.role"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="%Role.fileExtension"
            name="%Role.displayName"
            priority="normal"
            default-charset="UTF-8">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{%xmlns}%Role.componentType"/>
            </describer>
        </content-type>

    </extension>


    <!--   P R O B L E M   M A R K E R S   -->
    <extension
        id="problem"
        name="Force.com sync state"
        point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <persistent value="true"/>
    </extension>

    <extension
        id="dirty"
        name="Force.com sync state"
        point="org.eclipse.core.resources.markers">
        <super type="com.salesforce.ide.core.problem"/>
        <persistent value="true"/>
    </extension>

    <extension
         id="compileError"
         name="Force.com compilation problem"
         point="org.eclipse.core.resources.markers">
        <super type="com.salesforce.ide.core.problem"/>
        <persistent value="true"/>
    </extension>

    <extension
         id="saveError"
         name="Force.com save problem"
         point="org.eclipse.core.resources.markers">
        <super type="com.salesforce.ide.core.problem"/>
        <persistent value="true"/>
    </extension>

    <extension
         id="retrieveError"
         name="Force.com retrieve problem"
         point="org.eclipse.core.resources.markers">
        <super type="com.salesforce.ide.core.problem"/>
        <persistent value="true"/>
    </extension>

    <extension
         id="runTestFailure"
         name="Force.com run test failure"
         point="org.eclipse.core.resources.markers">
        <super type="com.salesforce.ide.core.problem"/>
        <persistent value="true"/>
    </extension>

    <extension
         id="codeCoverageWarning"
         name="Force.com code coverage warning"
         point="org.eclipse.core.resources.markers">
        <super type="com.salesforce.ide.core.problem"/>
        <persistent value="true"/>
    </extension>
    
    <extension
         id="inactive"
         name="Force.com project inactive"
         point="org.eclipse.core.resources.markers">
        <super type="com.salesforce.ide.core.problem"/>
        <persistent value="true"/>
    </extension>

    <!--   M I S C E L L A N E O U S   -->
    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
            id="com.salesforce.ide.core.expressions.ResourceTester"
            type="org.eclipse.core.resources.IResource"
            namespace="com.salesforce.ide.core.expressions"
            properties="pathContains,pathStartsWith,isSourceResource,isSourceRoot,isRefreshableResource,isDeployableResource,isSourceComponentFolder,isPrjOrNonRefPkgFolders,isRunTestEnabledResources"
            class="com.salesforce.ide.core.expressions.ResourceTester">
        </propertyTester>
    </extension>
</plugin>

