<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
Force.com IDE Copyright (c) 2008 Salesforce.com
-->

<plugin>

  <!--   M E N U S  -->
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="popup:com.salesforce.ide.ui.menu.context?before=group2">
      <command commandId="com.salesforce.ide.ui.command.deploy" helpContextId="com.salesforce.ide.documentation.deploymentAction" id="deploy" label="Deploy to Server..." mnemonic="D" style="push" tooltip="%tooltip.Deploy"> 
       <visibleWhen checkEnabled="false">
          <iterate ifEmpty="false" operator="and">
            <reference definitionId="com.salesforce.ide.projectFile"/>
            <reference definitionId="com.salesforce.ide.projectDeployableResource"/>
          </iterate>
        </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution locationURI="toolbar:com.salesforce.ide.ui.toolbar.main?before=openBrowserToSalesforce">
      <command
        commandId="com.salesforce.ide.ui.command.deploy"
        disabledIcon="icons/actions/dts_d_co.gif"
        helpContextId="com.salesforce.ide.documentation.deploymentAction"
        icon="icons/actions/dts_e_co.gif"
        id="deploy"
        label="%toolbar.label.Deploy"
        style="push"
        tooltip="%tooltip.Deploy"
        />
    </menuContribution>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command
      categoryId="com.salesforce.ide.ui.commands.category"
      description="%tooltip.Deploy"
      helpContextId="com.salesforce.ide.documentation.deploymentAction"
      id="com.salesforce.ide.ui.command.deploy"
      name="Deploy to Server"
      />
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler class="com.salesforce.ide.deployment.handlers.DeploymentHandler" commandId="com.salesforce.ide.ui.command.deploy">
      <enabledWhen>
        <iterate ifEmpty="false" operator="and">
          <reference definitionId="com.salesforce.ide.projectDeployableResource"/>
          <reference definitionId="com.salesforce.ide.projectFile"/>
          <reference definitionId="com.salesforce.ide.projectActive"/>
        </iterate>
      </enabledWhen>
    </handler>
  </extension>
    
</plugin>

