<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
Force.com IDE Copyright (c) 2008 Salesforce.com
-->

<plugin>
    
    <!--   M E N U S  -->
    <extension point="org.eclipse.ui.popupMenus">
        <!-- deployment -->
        <objectContribution
            id="com.salesforce.ide.deployment.ui.menu.deploy"
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true">
            <menu
                id="com.salesforce.ide.ui.menu.tools"
                label="Force&amp;.com"
                icon="icons/appExDevIco16.png"
                path="additions">
                <separator name="group2"/>
            </menu>
            <!-- despite the little warning on 'enablement', 'test' *is* supported -->
            <enablement>
                <or>
                    <instanceof value="org.eclipse.core.resources.IProject"/>
                    <test forcePluginActivation="true" property="com.salesforce.ide.core.expressions.isSourceResource"/>
                </or>
                <test forcePluginActivation="true" property="com.salesforce.ide.core.expressions.isDeployableResource"/>
            </enablement>
            <action
                id="com.salesforce.ide.deployment.actions.deploymentAction"
                class="com.salesforce.ide.deployment.actions.DeploymentAction"
                label="&amp;Deploy to Server..."
                tooltip="%tooltip.Deploy"
                helpContextId="com.salesforce.ide.documentation.deploymentAction"
                menubarPath="com.salesforce.ide.ui.menu.tools/group2">
                <enablement>
                    <not>
                        <objectState name="projectNature" value="com.salesforce.ide.nature.inactive"/>
                    </not>
                </enablement>
            </action>
        </objectContribution>
    </extension>
    
    <!--   A C T I O N   S E T S  -->
    <extension point="org.eclipse.ui.actionSets">
        <actionSet
         id="com.salesforce.ide.deployment.actionset"
         label="%toolbar.label.Deploy"
         visible="false">
            <action
             class="com.salesforce.ide.deployment.actions.DeploymentAction"
             disabledIcon="icons/actions/dts_d_co.gif"
             icon="icons/actions/dts_e_co.gif"
             id="com.salesforce.ide.deployment.action.deploy"
             label="%toolbar.label.Deploy"
             state="false"
             style="push"
             toolbarPath="com.salesforce.ide.ui.actionset/force"
             tooltip="%toolbar.label.Deploy">
                <enablement>
                    <and>
                        <objectClass name="org.eclipse.core.resources.IResource"/>
                        <objectState name="projectNature" value="com.salesforce.ide.nature.default" />
                        <not>
                            <or>
                                <objectState name="name" value="package.xml"/>
                                <objectState name="name" value="salesforce.schema"/>
                                <objectState name="path" value="*Referenced Packages*"/>
                                <objectState name="projectNature" value="com.salesforce.ide.nature.inactive"/>
                            </or>
                        </not>
                        
                    </and>
                </enablement>
            </action>
        </actionSet>
    </extension>
    
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="com.salesforce.ide.perspective">
            <actionSet id="com.salesforce.ide.deployment.actionset"/>
        </perspectiveExtension>
    </extension>
</plugin>

